<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671997217593-r68i32tbmlt4kdnn16oji7pjch3l50l1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671997217593-r68i32tbmlt4kdnn16oji7pjch3l50l1</string>
	<key>API_KEY</key>
	<string>AIzaSyCYUthbqemRLMg_o7tIJBNXLGCY4mVGcS0</string>
	<key>GCM_SENDER_ID</key>
	<string>671997217593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.frontend</string>
	<key>PROJECT_ID</key>
	<string>fyp-rideshare-ad3f0</string>
	<key>STORAGE_BUCKET</key>
	<string>fyp-rideshare-ad3f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671997217593:ios:2fc18286b6c27a6ee3f6e8</string>
</dict>
</plist>